.popup {
    visibility: hidden;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .40s, visibility .40s ease;
    background: rgb(0 0 0 / 50%);
}
