.profile {
    display: grid;
    grid-template-columns: 120px auto 150px;
    align-items: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .profile {
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
    }
}