.popup__content {
    position: relative;
    margin: auto;
    display: flex;
    max-width: 430px;
    min-height: 330px;
    padding: 32px;
}

@media screen and (max-width: 425px) {
    .popup__content {
        max-width: 282px;
        min-height: 322px;
        padding: 19px;
    }
}