.profile__status {
    font-size: 18px;
    line-height: 100%;
    margin: 16px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__status {
        text-align: center;
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 425px) {
    .profile__status {
        font-size: 14px;
        margin-top: 14px;
    }
}