.popup__button {
    width: 100%;
    height: 50px;
    margin: 18px 0px 0px;
    padding: 0;
    border: 0;
    background: #000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.popup__button:hover {
    opacity: .8;
}

.popup__button:focus {
    outline: none;
}