.elements__button-like {
    background: url(./../../../images/heart.svg);
    width: 22px;
    height: 19px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    transition: .3s;
    cursor: pointer;
}

.elements__button-like:hover {
    opacity: .5;
    
}

.elements__button-like:focus {
    background: url(../../../images/heart_active.svg);
    outline: none;
}
.elements__button-like:focus:hover {
    background: url(../../../images/heart_active.svg);
    outline: none;
    opacity: 1;
}