.profile__add-button {
        background: url(./../../../images/plus.svg);
        width: 150px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid #fff;
        border-radius: 2px;
        cursor: pointer;
        transition: .3s;
    }

.profile__add-button:hover {
    opacity: .6;   
}

.profile__add-button:focus {
    transition: 0s;
    opacity: .3;
    outline: none;
}

@media screen and (max-width: 320px) {
    .profile__add-button {
        width: 100%;
        background-size: 16px;
    }
}