.popup__submit {
    width: 100%;
    min-height: 50px;
    margin: 18px 0px 0px;
    padding: 0;
    border: 0;
    background: #000;
    color: #fff;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
    transition: .3s;
}

.popup__submit:hover {
    opacity: .8;
}

.popup__submit:focus {
    outline: none;
}

@media screen and (max-width: 425px) {
    .popup__submit {
        min-height: 46px;
        margin: 15px 0px 0px;
        font-size: 14px;
    }
}