.popup__close {
    background: url(../../../images/close.svg);
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0px;
    position: absolute;
    background-position: center;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: .3s;
}

.popup__close:hover {
    opacity: .6;
}

.popup__close:focus {
    outline: none;
}

@media screen and (max-width: 425px) {
    .popup__close {
        background-size: contain;
        top: -33px;
        right: 17px;
    }
}